{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet"/>

    <script src="{% static 'javascript.js' %}"></script>
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>


</head>
<body>
<form method="post">
{% csrf_token %}
{% if formset %}

     <table id="id_forms_table" class="table">
        <thead class="">
    	    <tr class="danger">

                <th scope="col">&nbsp;</th>

    	        <th scope="col">Book Name</th>

    	        <th scope="col">Book Author</th>
                <th scope="col">&nbsp;</th>

    	    </tr>
        </thead>
        <tbody>
            {% for form in formset.forms %}
                <h3>{{ form.operand }}</h3>
    	    <tr class='success' id="{{ form.prefix }}-row" class="dynamic-form">
  	        <td{% if forloop.first %} class="hidden"{% endif %}>{{ form.operand }}</td>
    	        <td>{{ form.name }}</td>
                <td>{{ form.authors }}</td>
    	        <td{% if forloop.first %} class="hidden"{% endif %}>
    	            <a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row" onclick="deleteForm(this,'{{formset.prefix}}')">Delete</a>
    	        </td>
            </tr>

    	    {% endfor %}
            <tr>
    	        <td><a href="javascript:void(0)" class="add-row" onclick="addForm(this, '{{ formset.prefix }}')">Add Form</a></td>
    	    </tr>
        </tbody>
    </table>

    <input type="submit" value="Submit" />


{% endif %}
</form>
</body>
</html>